html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b7732a;
}

html {
  padding-bottom: 50px;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
}

#map {
  height: 100%;
  width: 100%;
}

#bt_locatin_now {
  font-size: 60px;
  position: absolute;
  margin-left: -45px;
  margin-top: -48px;
  background-color: #FFF;
  padding: 10px;
  border-radius: 50%;
  color: #563217;
  border: 5px solid #563217;
}

nav.navbar {
  background: none;
  background-color: #b7732a;
  border-top: 5px solid #563217;
  height: 50px;
}

.logorb {
  max-width: 100%;
  max-height: 29px;
  bottom: -35px;
  position: absolute;
  right: 5px;
}

#rateYo {
  margin-left: -5px;
}

#bt_comment_last {
  margin-top: 10px;
  font-size: 1.4em;
  color: #FFFFFF;
  font-weight: lighter;
  margin-left: -5px;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}
.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.vm {
  vertical-align: middle;
}
.vb {
  vertical-align: bottom;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}

.f12 {
  font-size: 12px;
}
