html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b7732a;
}

#map {
  height: 100%;
  width: 100%;
}

.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.fr {
  float: right;
}

#rateYo {
  margin-left: -5px;
}

.tl {
  text-align: left;
}
